{% extends "base.html" %}

{% block content %}
  <h3>
    <a href="{% url 'home_page' %}">Home</a>
  </h3>
  <p>testing page</p>
  <h3>Logged In User</h3>
  {{ currentUser }}
  <h3>Users</h3>
  {% for user in users %}
    <p>{{ user.username }} -- {{ user.password }}</p>
  {% endfor %}
  <h3>Requests</h3>
  {% for request in requests %}
    <p>{{ request.user }}, {{ request.requested }}, {{ request.created }}</p>
  {% endfor %}
  <h3>Friends</h3>
  {% for friend in friends %}
    <p>{{ friend.user }}, {{ friend.friend.username }}, {{ friend.category }}</p>
  {% endfor %}
  <h3>groups</h3>
  {% for group in groups %}
    <p>ID:{{ group.id }}, NAME:{{ group.name }}, DESCRIPTION:{{ group.description }}, COUNT:{{ group.count }},
      STATUS:{{ group.status }}, REFERENCE:{{ group.reference_code }}, CREATED BY:{{ group.created_by.username }},
      CREATED:{{ group.created }}</p>
  {% endfor %}
  <h3>members</h3>
  {% for member in members %}
    <p>ID:{{ member.id }}, USERNAME:{{ member.user.username }}, GROUP:{{ member.group.name }},
      STATUS:{{ member.status }}, CREATED:{{ member.created }}</p>
  {% endfor %}
  <h3>records</h3>
  {% for record in records %}
    <p>ID:{{ record.id }}, STATUS:{{ record.status }}, COUNT:{{record.count}}, SPLIT:{{ record.split }},
      NAME:{{ record.group.name }}, USERNAME:{{ record.user.username }}, CREATED:{{ record.created }} </p>
  {% endfor %}
  <h3>transactions</h3>
  {% for transaction in transactions %}
  <p>ID:{{ transaction.id }}, USER:{{ transaction.user.username }},
    AMOUNT:{{ transaction.amount }}, DESCRIPTION:{{ transaction.description }},GROUP:{{ transaction.group.id }},
    RECORD:{{ transaction.record.id }}, CREATED:{{ transaction.created }}</p>
  {% endfor %}
{% endblock %}
