{% extends "base.html" %}

{% block content %}
  <p>{{message}}</p>

  {% for group in groups %}
    <p>{{ group.id }}, {{ group.name }}, {{ group.description }}, {{ group.count }},
      {{ group.status }}, {{ group.reference_code }}, {{ group.created_by }}, {{ group.created }}</p>
  {% endfor %}
  {% for member in members %}
    <p> {{ member.id }} {{ member.user }}, {{ member.group_reference }}, {{ member.status }},
      {{ member.created }} </p>
  {% endfor %}
  {% for record in records %}
    <p> {{record.id}} {{record.amount}}, {{record.description}}, {{record.status}}, {{record.split}},
      {{record.group_reference}}, {{record.user}}, {{record.created}}  </p>
  {% endfor %}
  <form action="." method="POST">
    <input type="submit", name="submit" value="delete">
  </form>
{% endblock %}
