{% extends "header.html" %}

{% block content %}
  <h2 class="page-header align-center-item">{{ group.group.name }}</h2>
  <!--<div>
    {% for member in members %}
      <p>
        {{ member.user.username }}
        {% if member.status == 2 %}
          (host)
        {% endif %}
        {% if currentUser == host.user %}
          {% if member.status == 1 %}
            <a href="{% url 'select_host_member' member.group.id member.user.username %}">Set as host</a>
          {% endif %}
        {% endif %}
      </p>
    {% endfor %}
  </div>-->
  {% if currentUser == host.user %}
    <p class="align-center-item">
      <a href="{% url 'add_expense' currentGroup.id %}">Add Expense</a>
    </p>
    <div class="scrollable-view-host">
  {% endif %}
  {% if currentUser != host.user %}
    <div class="scrollable-view-full">
  {% endif %}
  {% for activity in activities %}
    {% if activity.user == currentUser %}
      {% if activity.general == 2 %}
        <p class="align-right-item align-margin-right">
          {{ activity.description }}
          {% if activity.validation == 2 %}
            <a href="{% url 'verify_expense' activity.expense.id activity.id %}">Y</a>
          {% endif %}
        </p>
      {% endif %}
    {% endif %}
    {% if activity.user != currentUser %}
      {% if activity.general == 1 %}
        <p class="align-margin-left">
          {{ activity.description }}
        </p>
      {% endif %}
    {% endif %}
  {% endfor %}
  </div>

{% endblock %}
