{% extends "base.html" %}

{% block content %}
  <h2>{{ groupName }}</h2>
  {% for userGroup in userGroups %}
    {% for group in groups %}
      {% if userGroup.group_reference == group.reference_code %}
        {% for member in members %}
          {% if member.group_reference == userGroup.group_reference %}
            <p>{{ member.user }}</p>
            {% if member.status = 1 %}
              <p>member</p>
            {% endif %}
            {% if member.status = 2 %}
              <p>host</p>
            {% endif %}
          {% endif %}
        {% endfor %}
      {% endif %}
    {% endfor %}
  {% endfor %}
{% endblock %}
