{% extends "header.html" %}

{% block content %}
  <h2 class="page-header">{{ group.group.name }}</h2>
  <div>
    {% for member in members %}
      <p>
        {{ member.user.username }}
        {% if member.status == 2 %}
          (host)
        {% endif %}
        {% if currentUser == host.user %}
          {% if member.status == 1 %}
            <a href="{% url 'select_host_member' member.group.id member.user.username %}">Set as host</a>
          {% endif %}
        {% endif %}
      </p>
    {% endfor %}
  </div>
  <div>
    {% for activity in activities %}
      {% if activity.user == currentUser %}
        {% if activity.general == 2 %}
          <p>{{ activity.description }}</p>
        {% endif %}
      {% endif %}
      {% if activity.user != currentUser %}
        {% if activity.general == 1 %}
          <p>{{ activity.description }}</p>
        {% endif %}
      {% endif %}
    {% endfor %}
  </div>
  {% if currentUser == host.user %}
    <a href="{% url 'add_expense' host.group.id %}">Add New Expense</a>
  {% endif %}

{% endblock %}
