{% extends "base.html" %}

{% block content %}
  <h2>{{ currentUser.username }}</h2>
  <form action="" method="POST">
    {% csrf_token %}
    <input type="text" name="searched">
    <input type="submit" name="submit" value="submit">
  </form>
  <h3>{{ message }}</h3>
  {% if searchedUser %}
    <p>{{ searchedUser }}</p>
  {% endif %}
  {% if requester %}
  <h3>Pending Requests</h3>
    {% for request in requester %}
      <p>{{ request.user }}</p>
    {% endfor %}
  {% endif %}
  {% if requested %}
  <h3>Friend Requests</h3>
    {% for request in requested %}
      <p>{{ request.user }}</p>
    {% endfor %}
  {% endif %}
  <h3>Groups</h3>
  <ul>
    {% for member in members %}
      <li>{{ member.group.name }}</li>
    {% endfor %}
  </ul>
{% endblock %}
