{% extends "base.html" %}

{% block content %}
<h3>
  <a href="{% url 'home_page' %}">Home</a>
</h3>
<h3>Settings page:</h3>
<form action="." method="POST">
  {% csrf_token %}
  <h4>User</h4>
  {{ userSettingOne.as_p }}
  {{ userSettingTwo.as_p }}
  <input type="submit" name="userSubmit" value="Save">
</form> <br>
<form action="." method="POST">
  {% csrf_token %}
  <h4>Password</h4>
  {{ updatePassword.as_p }}
  <input type="submit" name="passwordSubmit" value="Save">
</form> <br>
<form action="." method="POST">
  {% csrf_token %}
  <h3>Info</h3>
  {{ updateInfo.as_p }}
  <input type="submit" name="infoSubmit" value="Save">
</form>
<form action="." method="POST">
  {% csrf_token %}
  <h3>Privacy</h3>
  {{ updatePrivacy.as_p }}
  <input type="submit" name="privacySubmit" value="Save">
</form>
{% endblock %}
