{% extends "header.html" %}

{% block content %}
  <h2 class="">{{ currentUser.username }}</h2>
  <h3>
    Activity
    {% if unseen_activity > 0 %}
      - ({{ unseen_activity }})
    {% endif %}
  </h3>
  {% for activity in activities %}
    {% if activity.status == 1 %}
      <strong>
        <p>{{activity.description}}</p>
      </strong>
    {% endif %}
    {% if activity.status == 2 %}
      <p>{{activity.description}}</p>
    {% endif %}
  {% endfor %}
  <p>
    <a href="{% url 'clear_all_activities' %}">Mark all as read</a>
  </p>

  <!--The following is the start of the requests part of the html file-->
  {% if requester %}
  <h3>Pending Requests</h3>
    {% for request in requester %}
      <p>
        {{ request.requested.username }}
        {% if request.requested.username == currentUser.username %}
          <a href="{% url 'accept_request' request.requested.username %}">
            accept request
          </a>
        {% endif %}
      </p>
    {% endfor %}
  {% endif %}
  {% if requested %}
  <h3>Friend Requests</h3>
    {% for request in requested %}
      <p>
        {{ request.user }}
        <a href="{% url 'accept_request' request.user %}">
          accept request
        </a>
      </p>
    {% endfor %}
  {% endif %}
  <h3>Friends</h3>
  {% for friend in friends %}
    {% if friend.user == currentUser.username %}
      <p>{{ friend.friend.username }}</p>
    {% endif %}
    {% if friend.friend.username == currentUser.username %}
      <p>{{ friend.user }}</p>
    {% endif %}
  {% endfor %}
  <a href="{% url 'logout' %}">Logout</a>
{% endblock %}
