{% extends "base.html" %}
{% load staticfiles %}

{% block standard %}
<div class="row">
  <div class=" border-padding solid-borders">
    <a href="">
      <img src="{% static 'images/Yap-Logo-6.png'%}" class="header-icon-size" alt="">
    </a>
  </div>
  <div class="col-3">
  </div>
  <div class="col align-center-item align-center-v solid-borders">
    <form action="" method="POST">
      {% csrf_token %}
      <input type="text" name="searched" placeholder="Search">
    </form>
  </div>
  <div class="col align-center-item border-padding solid-borders">
    <a href="{% url 'user_groups' %}">
      <img src="{% static 'images/groups.png'%}" class="header-icon-size icon-margins" alt="">
    </a>
    <a href="">
      <img src="{% static 'images/transaction.png'%}" class="header-icon-size icon-margins" alt="">
    </a>
    <a href="">
      <img src="{% static 'images/accounts.png'%}" class="header-icon-size icon-margins" alt="">
    </a>
  </div>
  <div class="col-3">
  </div>
  <div class="border-padding solid-borders">
    <a href="{% url 'user_activity' %}">
      <img src="{% static 'images/user.png'%}" class="header-icon-size" alt="">
    </a>
  </div>
</div>
<div class="row">
  <div class="col-4 content-backgroun full-height">
  </div>
  <div class="col">
    {% block content %}
    {% endblock %}
  </div>
  <div class="col-4 content-backgroun full-height">
  </div>
</div>
{% endblock %}
